{% from 'macros/marquee.twig' import marquee %}
{% from 'macros/media-two.twig' import mediaTwo %}

{% extends 'base.twig' %}

{% block main %}
  {% set embed_form = post.meta('embed_form') %}

  <div class="bg-blue-100 pb-5">
    <div class="container mx-auto px-12 md:px-24">
      <div class="md:flex md:-mx-10">
        <div class="md:w-1/2 md:px-10">
          <p class="mb-10 md:mb-16 font-display font-bold text-sm uppercase tracking-widest text-gray-500">{{ _e('Insights') }}</p>
          <h1 class="max-w-4xl mb-10 font-display font-medium text-xl text-blue-500 leading-snug">{{ post.title|e('wp_kses_post') }}</h1>
          <div class="mb-20 md:mb-0">
            <time class="md:mb-2 text-sm font-semibold text-gray-500">{{ post.date|e }}</time>
            <p class="text-tiny font-semibold text-gray-500">{{ post.byline|e }}</p>
          </div>
        </div>
        <div class="relative md:w-1/2 md:px-10">
          {% set image = Image(post.image) %}
          <img style="max-width: 320px; right: 0" class="md:absolute w-full" src="{{ image.src('insight_thumbnail_masthead')|e('esc_url') }}" alt="{{ image.alt|e }}" />
        </div>
      </div>
    </div>
  </div>
  <div class="color-field-blue-bg-25 md:mb-32"></div>

  {% if embed_form.form_position == 'top' and embed_form.form_width == 'full' %}
    <div class="container mx-auto px-12 0md:px-24 mt-12 mb-12 wysiwyg wysiwyg-one">
      {% if embed_form.title %}
        <h2><strong>{{ embed_form.title }}</strong></h2>
      {% endif %}
      {{ embed_form.embed_code }}
    </div>
  {% endif %}

  <div>
    <div class="container mx-auto px-12 0md:px-24">
      <div class="md:flex md:-mx-24">
        <div class="md:w-4/6 md:px-24">

          {% if embed_form.form_position == 'top' and embed_form.form_width == 'content' %}
            <div class="0md:px-24 wysiwyg wysiwyg-one">
              {% if embed_form.title %}
                <h2><strong>{{ embed_form.title }}</strong></h2>
              {% endif %}
              {{ embed_form.embed_code }}
            </div>
          {% endif %}

          {% for component in post.meta('components') %}
            {% if component.acf_fc_layout == 'rich_text' %}
              <div class="mb-20 wysiwyg wysiwyg-one">
                {{ component.text|e('wp_kses_post') }}
              </div>
            {% elseif component.acf_fc_layout == 'embed' %}
              <div class="mb-24">
                {{ component.embed }}
              </div>
            {% elseif component.acf_fc_layout == 'quote' %}
              <blockquote class="mb-20">
                <svg class="mb-10" width="35" height="31" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.944 30.28H.014V18.014c0-4.517.94-8.081 2.82-10.694C4.714 4.707 7.937 2.4 12.502.398l3.442 6.519c-2.807 1.318-4.748 2.636-5.822 3.955-1.075 1.293-1.673 2.832-1.795 4.614h7.617V30.28zm18.567 0h-15.93V18.014c0-4.517.94-8.081 2.82-10.694 1.88-2.612 5.102-4.92 9.668-6.921l3.442 6.519c-2.807 1.318-4.748 2.636-5.823 3.955-1.074 1.293-1.672 2.832-1.794 4.614h7.617V30.28z" fill="#A9D1D5" opacity=".75"/></svg>
                <p class="font-display text-xl text-blue-500">{{ component.text|e }}</p>
              </blockquote>
            {% elseif component.acf_fc_layout == 'figure' %}
              {% set image = Image(component.image) %}
              <figure class="flex flex-col items-center mb-24">
                <img class="w-full mb-8" src="{{ image.src('insight_body_figure')|e('esc_url') }}" alt="{{ image.alt }}">
                {% if component.caption %}
                  <figcaption class="font-body font-semibold text-sm text-gray-200">{{ component.caption|e }}</figcaption>
                {% endif %}
              </figure>
            {% endif %}
          {% endfor %}

          {% if embed_form.form_position == 'bottom' and embed_form.form_width == 'content' %}
            <div class="0md:px-24 mt-12 pb-16 wysiwyg wysiwyg-one">
              {% if embed_form.title %}
                <h2><strong>{{ embed_form.title }}</strong></h2>
              {% endif %}
              {{ embed_form.embed_code }}
            </div>
          {% endif %}
        </div>
        <div class="md:w-2/6 md:px-24">
         <h3 class="mb-20 font-display font-bold text-sm uppercase tracking-widest text-gray-500">{{ _e('Popular Topics') }}</h3>
          <ul class="mb-32">
            {% for category in categories %}
              <li class="mb-4">
                <a class="flex items-center font-body font-medium text-tiny" href="{{ parent_category ~ '?category_name=' ~ category.slug|e }}">
                  <svg class="mr-8" width="5" height="5" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.68 4.752c-.384 0-.736-.09-1.056-.272a2.303 2.303 0 01-.752-.752A2.105 2.105 0 01.6 2.672c0-.587.203-1.082.608-1.488A2.005 2.005 0 012.68.576c.597 0 1.099.203 1.504.608.405.406.608.902.608 1.488 0 .587-.203 1.083-.608 1.488-.405.395-.907.592-1.504.592z" fill="#0076BC"/></svg>
                  <span>{{ category.name|e }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
          {% for item in post.meta('sidebar') %}
            {% if item.acf_fc_layout == 'featured_posts' %}
              <h3 class="mb-20 font-display font-bold text-sm uppercase tracking-widest text-gray-500">{{ _e('Popular Posts') }}</h3>
              {% for i in item.posts %}
                {% set image = Image(i.image) %}
                {{ mediaTwo({
                  title: i.title,
                  date: i.date,
                  byline: i.byline,
                  url: i.link,
                  image: {
                    src: image.src('insight_thumbnail_above_fold'),
                    alt: image.alt
                  }
                }) }}
              {% endfor %}
            {% elseif item.acf_fc_layout == 'rich_text' %}
              <div class="mb-20 wysiwyg wysiwyg-one">
                {{ item.text }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% if embed_form.form_position == 'bottom' and embed_form.form_width == 'full' %}
    <div class="container mx-auto px-12 0md:px-24 mt-12 pb-16 wysiwyg wysiwyg-one">
      {% if embed_form.title %}
        <h2><strong>{{ embed_form.title }}</strong></h2>
      {% endif %}
      {{ embed_form.embed_code }}
    </div>
  {% endif %}

  <div class="mb-40"></div>
  <div class="color-field-tan-bg-75"></div>

  <div class="bg-tan-75 py-20">
    <div class="relative related">
      <div class="container mx-auto px-12">
        <div class="md:flex">
          <div class="md:w-4/6">
            <h3 class="mb-20 font-display font-bold text-sm uppercase tracking-widest text-gray-500">{{ _e('Related Posts') }}</h3>
            <div class="md:flex md:-mx-8">
              {% for i in post.meta('related_posts') %}
                <div class="md:w-1/2 md:px-8">
                  {% set image = Image(i.image) %}
                  {{ mediaTwo({
                    title: i.title,
                    date: i.date,
                    byline: i.byline,
                    url: i.link,
                    image: {
                      src: image.src('insight_thumbnail_related_body'),
                      alt: image.alt
                    }
                  }) }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}