{% macro featuredColumns(data, options) %}
    {% from 'macros/button.twig' import button %}
        {% if data.wave == "yes" %}
            <div class="color-field-blue-bg-25-up"></div>
        {% endif %}
    <div class="mb-16" style="background-color: {{ data.background_color }}">
        <div class="container mx-auto px-12 md:px-24 mx-32 py-16">
            {% if data.title or data.intro %}
            <div class="mb-20 mx-auto max-w-6xl text-center">
                {% if data.title %}
                <h3 class="mb-10 font-display text-xl text-blue-500 font-medium">{{ data.title|e }}</h3>
                {% endif %}

                {% if data.intro %}
                <p class="font-body text-tiny text-gray-500">{{ data.intro|e }}</p>
                {% endif %}
            </div>
            {% endif %}

            <div class="flex flex-col md:flex-row md:-mx-16">
            {% for column in data.columns %}
                <div class="md:w-1/3 md:px-16 mb-10 md:mb-0">
                <div class="text-center flex flex-col justify-between h-100 items-center">
                    <div>
                        {% if column.image %}
                        <a href="{{column.cta.url}}" target="{{column.cta.target}}"><img class="mx-auto mb-10" src="{{ Image(column.image).src }}" alt="{{ Image(column.image).alt }}" /></a>
                        {% endif %}
                    
                        {% if data.column_type == "number_icon" %}
                            <div class="flex justify-center">
                                <div class="flex items-center justify-center mt-4 mb-4 mr-4 h-8 w-8 rounded-full" style="background-color: {{ data.circle_bg_color }}">
                                    <p class="font-display font-medium text-sm line-height-1" style="color: {{ data.number_color }};">{{ loop.index }}</p>
                                </div>
                            </div>
                            
                            <div class="mb-4 font-display text-lg font-medium text-green-200">{{ column.title|e('wp_kses_post') }}</div>
                        {% elseif data.column_type == "image_icon" %}
                            <div class="flex justify-center">
                                <div class="mx-auto mb-6 h-24 w-24">
                                    <img class="rounded-full" src="{{ Image(column.icon).src }}" alt="{{ Image(column.icon).alt }}" />
                                </div>
                            </div>

                            <div class="mb-4 font-display text-lg font-medium text-green-200">{{ column.title|e('wp_kses_post') }}</div>
                        {% else %}
                            <div class="mb-4 font-display text-lg font-medium text-green-200">{{ column.title|e('wp_kses_post') }}</div>
                        {% endif %}
                        
                        <p class="font-body text-gray-200 mb-6">{{ column.text|e }}</p>
                    </div>

                    {{ button({
                        markup: 'a',
                        size: 'sm',
                        theme: 'secondary',
                        title: column.cta.title,
                        target: column.cta.target,
                        url: column.cta.url
                    }) }}
                </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}