{% macro form(data, options) %}
  <div class="container mx-auto px-12">
    <div class="md:flex md:-mx-12 mb-40">
      <div class="md:w-2/3 md:px-12">
        <p class="mb-32 font-display font-bold text-sm uppercase tracking-widest text-gray-500">{{ data.heading|e }}</p>
        <p class="mb-24 font-display text-5xl text-green-200">{{ data.title|e }}</p>
        <div class="wysiwyg max-w-2xl">
          {{ data.text|e('wp_kses_post') }}
        </div>
      </div>
      <div class="md:w-1/3 md:px-12">
        <img src="{{ Image(data.image).src|e('esc_url') }}" alt="{{ Image(data.image).alt|e }}" />
      </div>
    </div>
    {{ data.embed_code }}
  </div>
{% endmacro %}