{% macro fullWidthTout(data, options) %}
  {% from 'macros/button.twig' import button %}
  <div class="container mx-auto px-12 md:px-24 mb-16">
    <div class="md:flex md:-mx-24">
      <div class="md:w-2/6 md:px-24 mb-24 md:mb-0 {% if data.image_position == 'right' %}order-2{% endif %}">
        <img src="{{ Image(data.image).src|e('esc_url') }}" alt="{{ Image(data.image).alt|e }}"/>
      </div>
      <div class="md:w-4/6 md:px-24">
        <div class="max-w-5xl">
          <h3 class="mb-3 font-display text-lg md:text-xl font-medium text-green-200">
            {{ data.title|e }}
          </h3>
          {% if data.heading %}
          <p class="mb-10 font-display text-tiny md:text-base font-medium text-gray-500">
            {{ data.heading|e }}
          </p>
          {% endif %}
          <div class="list-desc font-body text-gray-200">
            {{ data.text }}
          </div>
          <p class="mb-16">
          </p>
          {% if data.link.url %}
            {{ button({
              markup: 'a',
              size: 'sm',
              theme: 'tertiary',
              title: data.link.title,
              url: data.link.url
            }) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}