{% macro imageAndImageGrid(data, options) %}
  {% from 'macros/button.twig' import button %}
  <div class="container mx-auto mb-40 px-12">
    <div class="md:flex md:-mx-12">
      <div class="md:w-1/2 md:px-12">
        <img class="mx-auto mb-20 md:mb-0" src="{{ Image(data.image).src|e('esc_url') }}" alt="{{ Image(data.image).alt|e }}" />
      </div>
      <div class="md:w-1/2 md:px-12">
        <div class="">
          <div class="mb-20">
            <h4 class="font-display font-medium text-lg mb-8 text-green-200">{{ data.title|e }}</h4>
            <p class="font-body text-gray-500">{{ data.text|e }}</p>
          </div>
          {% if data.images|length %}
            <div class="flex flex-wrap -mx-4 mb-8">
              {% for image in data.images %}
                <div class="w-1/2 px-4">
                  <img src="{{ Image(image).src|e('esc_url') }}" alt="{{ Image(image).alt|e }}" />
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {{ button({
            size: 'sm',
            markup: 'a',
            theme: 'tertiary',
            title: data.link.title,
            url: data.link.url
          }) }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}